{% extends "base.html" %} {% block title %}Display all Orders{% endblock %} 

{% block content %}
<h3>View all Orders</h3>
<ul>
    {% for item in items %}
        <li>Order: {{item.id}}</li>
        <ol>
            {% for order_menu_item in item.order_menu_items %}
                {% for menu_item in menu_items %}
                    {% if order_menu_item.menu_item_id == menu_item.id %}
                        <li>{{menu_item.name}} - Quantity: {{order_menu_item.quantity}}</li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ol>
        <ol>Order Total: {{item.order_total}}</ol>
    {% endfor %}
</ul>
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#allergens">Show More </button>
<div id="allergens" class="collapse">
  <p> List of allergens: gluten, peanuts, wheat, egg, fish, soy, etc. </p>
</div>
  <form action="{{ url_for('cancel_order', order_id=order.id) }}" method="post">
    <button type="submit" class="btn btn-danger"> Cancel Order </button>
  </form>
  <form action="{{ url_for('confirm_order', order_id=order.id) }}" method="post">
    <button type="submit" class="btn btn-danger"> Confirm Order </button>
  </form>
{%endblock%}