{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <centre>
        <h1 style="font-size: 300%">Restaurant 26</h1>
        <p style="font-size: 150%">
            Hello Waiter!
        </p>



    </center>

    <script>
        function refreshPage() {
          setTimeout(() => {
            window.location.reload();
          }, 10000);
        }
      
        refreshPage();
      </script>

    </centre>

    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Client needs help!</strong> 
    </div>

    <style>
        .alert {
          padding: 20px;
          background-color: #f44336;
          color: white;
        }
        
        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }
        
        .closebtn:hover {
          color: black;
        }
        </style>
{%endblock%}