{% extends "base.html" %} {% block title %}Display all Notifications{% endblock %} 

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>User ID</th>
      <th>Table Number</th>
      <th>Message</td>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for notification in notifications %}
      <tr>
        <td>{{ notification.id }}</td>
        <td>{{ notification.user_id }}</td>
        <td>{{ notification.table_number }}</td>
        <td>{{ notification.notification_type }}</td>
        <td>{{ notification.message }}</td>
        <td>{{ notification.status}}</td>
        <td>
          
            {% if notification.notification_type == 'help'%}
              <form action="{{ url_for('waiter.customer_helped', notification_id=notification.id) }}" method="post">
                <button type="submit" class="btn btn-success"> Customer has been helped </button>
              </form>
            {% endif %}
            {% if notification.notification_type == 'table'%}
              <form action="{{ url_for('waiter.remove_notification', notif_id=notification.id) }}" method="post">
                <button type="submit" class="btn btn-success"> Dismiss notification </button>
              </form>
            {% endif %}
          
        </td>
      </tr>
    {% endfor %}
  </tbody>

</table>

{%endblock%}