{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <link rel="stylesheet" href="./static/style/waiter-home.css">
  <div class= container>
    <centre>
        <h1 style="font-size: 300%">Restaurant 26</h1>
        <p style="font-size: 150%">
            Hello Waiter!
        </p>
    </centre>

    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Client needs help!</strong> 
    </div>

    <style>
        .alert {
          padding: 20px;
          background-color: #f44336;
          color: white;
        }
        
        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }
        
        .closebtn:hover {
          color: black;
        }
        </style>
        </div>
{%endblock%}