.DS_Store
public/__pycache__/
customer/__pycache__/
waiter/__pycache__/
signup/__pycache__/
packages/__pycache__/
instance/database.db
login/__pycache__/
admin/__pycache__/
kitchen/__pycache__/
customer/static/functions/__pycache__/
waiter/static/functions/__pycache__/
kitchen/static/functions/__pycache__/
admin/static/functions/__pycache__/