/* All Tables */
.table-striped{
  color: #1b1b1b;
  font-family: garamond;
}
/* View orders */
.view-orders{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #1b1b1b;
}
/* Admin Home Styling */
.admin-home-div {
  background-image: url("https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: none;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  min-height: 95vh;
}
.admin-home{
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin-home h1,h3{
  color: white;
}
.admin-notif.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}
.admin-notif.closebtn {
  background: none;
  border: none;
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
/* Admin Menu Styling */
.admin-menu{
  background-image: linear-gradient(rgba(0, 0, 0, 0.695),rgba(0, 0, 0, 0.782)) , url("https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: none;
  background-size: cover;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
.menu h1{
  color: white;
  padding-bottom: 2%;
}
.cross-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: red;
}
.col-md-4 {
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}
.menu-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.card-body {
  flex-grow: 1;
}
/* Add Staff */
.add-staff-header{
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
/* Add and Edit Menu */
.fa-duotone{
  color: #6a92f1;
}
.add-item-page{
  background-image: linear-gradient(rgba(0, 0, 0, 0.695),rgba(0, 0, 0, 0.782)) , url("https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: none;
  background-size: cover;
}
.add-item-container form{
  color: white;
  width: 50%;
  margin: auto;
  padding-bottom: 5%;
  text-align: start;
}
.add-item-container{
  color: white;
  padding-top: 5%;
  text-align: center;
}
.btn-primary{
  background-color: green;
  border: none;
}
.btn-primary:hover{
  background-color: rgb(41, 148, 41);
  border: none;
}
.staff.form-container {
  width: 60%;
  margin: 0 auto;
}
