body{
  background-image: url("https://source.unsplash.com/5AMSZcgN_cM");
}

.newitemdiv{
  background: linear-gradient(
      to right,
          black,
          rgb(211, 169, 169)
  );
    margin-left: -77px;
    margin-right: -15px;
    padding-left: 500px;
    width: 98.7vw;
    height: auto;
  }
.fa-duotone{
    color: #6a92f1;
  }
  .form-group{
      color: white;
  }

 