{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class = "admin-home-div">
   <link rel="stylesheet" href="./static/style/admin.css">
   <script src="./static/js/refresh.js"></script>
   <div class = "admin-home">
      <h1 style="font-size: 300%">Restaurant 26</h1>
      <h3>
         Hello Admin!
      </h3>
      <!-- If there's notifications - display them -->
      {% if not notifications == None %}
      {% for notification in notifications %}
      <div class="admin-notif alert">
         <!-- Remove notification form for each one -->
         <form action="{{ url_for('admin.removeNotification', notif_id=notification.id) }}" method="post">
            <input type="hidden" name="notif_id" value="{{notification.id}}">
            <button class="admin-notif closebtn">x</button>
         </form>
         <strong>{{notification.message}}</strong> 
      </div>
      {% endfor %}
      {% endif %}
   </div>
</div>
{%endblock%}