{% extends "base.html" %} {% block title %}add_item{% endblock %} {% block
  content %}
  <link rel="stylesheet" href="./static/style/add-item.css">
  <script src="https://kit.fontawesome.com/95bf5595ab.js" crossorigin="anonymous"></script>
  
    <div class="container">
      
      <h1><b>Edit menu item</h1>
      <form method="post">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" value="{{item.name}}" name="name"/>
          </div>
          <div class="form-group">
            <label for="price"> Price:</label>
            <input type="number" class="form-control" id="price" value={{item.price}} name="price"/>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" value="{{item.description}}" name="description"/>
          </div>
          <div class="form-group">
            <label for="ingredients">Ingredients:</label>
            <input type="text" class="form-control" id="ingredients" value="{{ingredient_save}}" name="ingredients"/>
          </div>
          <div class="form-group">
            <label for="calories">Calories:</label>
            <input type="number" class="form-control" id="calories" value={{item.calories}} name="calories"/>
          </div>
          <div class="form-group">
            <label for="picture">Picture:</label>
            <input type="text" class="form-control" id="picture" value={{item.picture}} name="picture"/>
          </div>
          <div class="form-group">
            <label for="type">Type:</label>
            <select class="form-control" id="type" name="type">
              <option value="" disabled>Select</option>
              {% for type in types %}
                {% if type[0] == item.type %}
                  <option value="{{ type[0] }}" selected>{{ type[0] }}</option>
                {% else %}
                  <option value="{{ type[0] }}">{{ type[0] }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        <button type="submit" class="btn btn-primary">Save item <i class="fa-solid fa-paper-plane"></i></button>
      </form>
    </div>  
  {%endblock%}

