body{
    background-image: url("https://source.unsplash.com/5xXKOWWUu7I");
}
.table{
    color: #f2f0f0;
}
.heading{
   color: #e8e3e3;
   padding-left: 0vw;
   padding-left: 37vw;
}
.text-center{
    color: #989393;
    background-color: #d4cfcf;
}