body{
    background-image: url("https://source.unsplash.com/5xXKOWWUu7I");
}
.table{
    color: #e6e5e3;
}
.heading{
    padding-top: 1vh;
    height: 7vh;
   color: #989393;
   background-color: #d4cfcf;
   padding-left: 0vw;
   padding-left: 37vw;
   font-family: garamond;
}
.text-center{
    color: #989393;
    background-color: #d4cfcf;
}