<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

      *{
        font-family: 'Roboto', sans-serif;
      }

      nav.navbar{
        background-color: #152238 !important;
      }
    </style>
    <script src="https://kit.fontawesome.com/4550fb712b.js" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        {% if session['user'] == 'customer' %}
        <div class="navbar-nav w-100 d-flex justify-content-between">
          <div class = "d-flex">
            <a class="nav-item nav-link" id="home" href="{{url_for('home')}}" title = "Home page"><i class="fa-solid fa-house"></i></a>
            <a class="nav-item nav-link" id="menu" href="{{url_for('customer.menu')}}" title = "View restaurant menu"><i class="fa-solid fa-bars"></i></a>
            <a class="nav-item nav-link" id="cart" href="{{url_for('customer.cart')}}" title = "View items in cart"><i class="fa-solid fa-cart-shopping" style = "padding-right: 5px;"></i>{{session['cart-amount']}}</a>
          </div>
          <div class = "d-flex" style = "margin-left: -5%;">
            <a class="nav-item nav-link" id="notify" href="{{url_for('customer.help_needed')}}" title = "Call a waiter for help"><i class="fa-solid fa-lightbulb"></i></a>
            <a class="nav-item nav-link" id="show_orders" href="{{url_for('customer.show_orders')}}" title = "Track your orders"><i class="fa-solid fa-clock"></i></a>
          </div>
          <div class = "d-flex">
            <a class="nav-item nav-link" id= "logout" href="{{url_for('logout')}}" title = "Logout"><i class= "fa-solid fa-right-from-bracket"></i></a> 
          </div> 
        </div>
        {% endif %}
        {% if session['user'] == 'waiter' %}
          <div class="navbar-nav w-100">
            <a class="nav-item nav-link" id="home" href="{{url_for('waiter.home')}}"><i class="fa-solid fa-house"></i></a>
            <a class="nav-item nav-link" id="menu" href="{{url_for('waiter.menu')}}"><i class="fa-solid fa-bars"></i></a>
            <a class="nav-item nav-link" id="cart" href="{{url_for('waiter.viewOrders')}}">Orders</a>
            <a class="nav-item nav-link" id="notifications" href="{{url_for('waiter.viewNotifications')}}">Notifications</a>
            <a class="nav-item nav-link ml-auto mr-2" id="logout" href="{{url_for('logout')}}">Logout</a>
          </div>
        {% endif %}
        {% if session['user'] == 'kitchen_staff' %}
          <div class="navbar-nav w-100">
            <a class="nav-item nav-link" id="home" href="{{url_for('kitchen.home')}}"><i class="fa-solid fa-house"></i></a>
            <a class="nav-item nav-link" id="cart" href="{{url_for('kitchen.viewOrders')}}">Orders</a>
            <a class="nav-item nav-link" id="notifications" href="{{url_for('kitchen.viewNotifications')}}">Notifications</a>
            <a class="nav-item nav-link ml-auto mr-2" id="logout" href="{{url_for('logout')}}">Logout</a>
          </div>
        {% endif %}
        {% if session['user'] == 'admin' %}
          <div class="navbar-nav w-100">
            <a class="nav-item nav-link" id="home" href="{{url_for('admin.home')}}"><i class="fa-solid fa-house"></i></a>
            <a class="nav-item nav-link" id="menu" href="{{url_for('admin.menu')}}"><i class="fa-solid fa-bars"></i></a>
            <a class="nav-item nav-link" id="cart" href="{{url_for('admin.viewOrders')}}">Orders</a>
            <a class="nav-item nav-link" id="notifications" href="{{url_for('admin.viewNotifications')}}">Notifications</a>
            <a class="nav-item nav-link" id="add-staff" href="{{url_for('admin.addNewStaff')}}">Add new Staff</a>
            <a class="nav-item nav-link" id="view-staff" href="{{url_for('admin.viewStaff')}}">View Staff</a>
            <a class="nav-item nav-link ml-auto mr-2" id="logout" href="{{url_for('logout')}}">Logout</a>
          </div>
        {% endif %}
      </div>
    </nav>
    
    

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                    {{message}}
                    <button type = "button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
                    {{message}}
                    <button type = "button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
          {% endfor %}
      {% endif %}
  {% endwith %}

    {% block content %}
    {% endblock %}
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
