{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <!-- Include the custom CSS file -->
    <link rel="stylesheet" href="./static/css/customer-style.css">

     <!-- Display a jumbotron with a welcome message -->
     <div class="jumbotron">
    <h1 class="display-4">Welcome to Restaurant 26</h1>
    <!-- Use a paragraph element to add some lorem ipsum text -->
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis leo sed nisi sagittis aliquet. Sed quis nisl vitae lacus fringilla lacinia.</p>
     </div>
    
     <!-- Display the featured items section -->
     <div class = "customer-home">
        <h1 class="display-4 featured-items-heading">Featured Items</h1>
    <div class = "featured">
        <div class="row">
          {% for item in menu_items %}
            <div class="col-md-4">
              <div class="card mb-3">
                <!-- Display the item picture -->
                <img class="card-img-top" src="{{ item.picture }}" alt="{{ item.name }}">
                <div class="card-body">
                   <!-- Display the item name -->
                  <h5 class="card-title text-success">{{ item.name }}</h5>
                  <!-- Display the item price -->
                  <h6 class="card-subtitle mb-2 text-muted" >{{ item.price }}</h6>
                   <!-- Display a button to show more information about the item -->
                  <i  data-toggle="collapse" data-target="#ingredients-{{ item.id }}" style="cursor:pointer; text-decoration:none">
                    <i class="fa fa-angle-down"></i> Show more
                  </i>
                  <!-- Display additional information about the item when the button is clicked -->
                  <div id="ingredients-{{ item.id }}" class="collapse">
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text">Calories: {{ item.calories }}</p>
                    <p class="card-text">Ingredients:</p>
                    <ul>
                      {% for ingredient in item.ingredients %}
                        <li>{{ ingredient.name }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- Add a form to allow the customer to add the item to their cart -->
                  <form action="{{url_for('customer.addToCart')}}" method="post">
                    <input type="hidden" name="item_id" value="{{item.id}}">
                    <div class="form-group">
                      <label for="quantity-{{ item.id }}">Quantity:</label>
                      <!-- Allow the customer to select the quantity of the item they want to order -->
                      <input type="number" class="form-control" id="quantity-{{ item.id }}" name="quantity" min="1" value="1">
                    </div>
                    <!-- Display a button to add the item to the cart -->
                    <button class="btn btn-primary">Add to order</button>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
{%endblock%}