{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<script src="https://kit.fontawesome.com/33bfa2902a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="home.css">
<div class= "container">
    <center>
        <h1 style="font-size: 300%">Restaurant 26</h1>
        <p style="font-size: 150%">
            Some details about restaurant.
        </p>
    </center></div>
<div class="help-button">
    <button type="button">Help-Me <i class="fa-regular fa-circle-question"></i></button>
</div>
{%endblock%}