{% extends "base.html" %}
{% block title %} Shopping Cart {% endblock %}

{% block content %}
<link rel="stylesheet" href="./static/css/customer-style.css">
<div class="jumbotron">
  <h1 class="home-heading display-4">Cart</h1>
</div>
  <div class="container cart">
    
    <div class="row">
      {% for cart_item in cart_items %}
        {% for menu_item in menu_items %}
          {% if cart_item.menu_item_id == menu_item.id %}
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ menu_item.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">£{{ menu_item.price }}</h6>
                  <p class="card-text">{{ menu_item.description }}</p>
                  <p>Quantity: {{ cart_item.quantity }}</p>
                  <p>Total Price: £{{ cart_item.item_price }}</p>
                </div>
                <div class="card-footer text-center">
                  <a href="{{ url_for('customer.removeFromCart', id=cart_item.menu_item_id) }}" class="btn btn-danger">Remove</a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    {% if cart_full %}
    <div class="text-center my-4">
      <a href="{{ url_for('customer.confirmCart') }}" class="cart-button btn btn-primary">Confirm Order</a>
    </div>
  </div>
  {% else %}
    <div class="text-center my-4">
      <a href="{{ url_for('customer.menu') }}" class="cart-button btn btn-primary">Back to Menu</a>
    </div>
  </div>
  {%endif%}
{% endblock %}
