{% extends "base.html" %}
{% block title %} Shopping Cart {% endblock %}
{% block content %}
<link rel="stylesheet" href="./static/css/cart.css">
<script src="https://kit.fontawesome.com/33bfa2902a.js" crossorigin="anonymous"></script>
  <div class="container">
    <div class="shopping-cart"><h1 class="text-center my-4">Shopping Cart</h1></div>
    <div class="row">
      {% for item in cart_items %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">£{{ item.price }}</h6>
              <p class="card-text">{{ item.description }}</p>
            </div>
            <div class="card-footer text-center">
              <a href="{{ url_for('customer.remove_from_cart', id=item.id) }}" class="btn btn-danger">Remove</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="text-center my-4">
      <a href="{{ url_for('customer.confirm_cart') }}" class="btn btn-primary">Confirm order <i class="fa-solid fa-square-check"></i></a>
    </div>
  </div>
{% endblock %}