{% extends "base.html" %}
{% block title %}Menu{% endblock %}
{% block content %}
  <div class="container">
    <h1 class="text-center mb-5">Menu</h1>
    <div class="row">
      {% for item in menu_items %}
        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title text-success">{{ item.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ item.price }}</h6>
              <p class="card-text">{{ item.description }}</p>
              <h5 class="card-title text-primary" data-toggle="collapse" data-target="#ingredients-{{ item.id }}" style="cursor:pointer; text-decoration:underline">See Ingredients:</h5>
              <div id="ingredients-{{ item.id }}" class="collapse">
                <ul>
                  {% for ingredient in item.ingredients %}
                    <li>{{ ingredient.name }}</li>
                  {% endfor %}
                </ul>
              </div>              
              <p class="card-text">Calories: {{ item.calories }}</p>
              <form action="{{url_for('customer.addToCart')}}" method="post">
                <input type="hidden" name="item_id" value="{{item.id}}">
                <button class="btn btn-primary">Add to order</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

