{% extends "base.html" %}
{% block title %}Order Confirmation{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="home-heading display-4">Your order:</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Item Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      {% for menu_item in menu_items %}
        {% if item.menu_item_id == menu_item.id %}
          <tr>
            <td>{{ menu_item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.item_price }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
<h4 class="text-center">Order Total: £{{ order.order_total }}</h4>

<style>
  .table{
    width: 50%;
    margin: auto;
  }
  .jumbotron{
    background-image: url("https://t4.ftcdn.net/jpg/01/59/36/13/360_F_159361310_b45IDWsgcizXh3gzRI3SRmZyljJVG3eh.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    border-radius: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
h4{
  padding-top: 2%;
}
</style>
{% endblock %}
