{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="./static/css/customer-style.css">
<div class="jumbotron">
  <h1 class="home-heading display-4">Order Tracking</h1>
</div>
<script src="https://kit.fontawesome.com/95bf5595ab.js" crossorigin="anonymous"></script>
    <div class="container mt-4">
        <div class="row">
            {% for order in orders %}
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>Order: {{ order.id }}</h4>
                                <h4>Total Price: £{{ order.order_total}}</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Item Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items[order.id] %}
                                        {% for menu_item in menu_items %}
                                            {% if item.menu_item_id == menu_item.id %}
                                                <tr>
                                                    <td>{{ menu_item.name }}</td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td>£{{ item.item_price }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>Status: {{ order.status }}</h4>
                                <h4>Delivery Status: {{ order.delivery_status }}</h4>
                            </div>
                            {% if order.payment_status == 'unpaid'%}
                            <form action="{{url_for('customer.pay_now', order_id = order.id)}}">
                                <button class="btn btn-success">Pay Now<i class="fa-regular fa-credit-card" style="margin-left: 10px;"></i></button>
                            </form>
                            {% else %}
                                <button class="btn btn-success" disabled>Order paid</button>
                            {% endif %}
                        </div>
                        
                    </div>
                    
                </div>
            {% endfor %}
        </div>
    </div>


    <script>
        function refreshPage() {
          setTimeout(() => {
            window.location.reload();
          }, 10000);
        }
        refreshPage();
    </script>

{% endblock %}
