{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="./static/css/table.css">
  <div class="container">
    <div class="row">
        <div class="card mb-3 login-card">
          <h2 style = "text-align: left; display: inline; width: 90%; margin: auto;">Enter your table number</h2>
          <form action="{{ url_for('customer.table_number') }}" method="POST">
            <div class="form-group">
              <label for="table-number">Table Number:</label>
              <select class="form-control" id="table-number" name="table-number" required>
                <option value="">Select a table</option>
                {% for table_number in free_tables %}
                  <option value="{{ table_number }}">{{ table_number }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class='btn btn-primary mt-3 login-button'>Confirm</button>
          </form>
        </div>  
    </div>
  </div>
{% endblock %}