{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">Enter Table Number</h1>
        <form action="{{ url_for('customer.table_number') }}" method="POST">
          <div class="form-group">
            <label for="table-number">Table Number:</label>
            <select class="form-control" id="table-number" name="table-number" required>
              <option value="">Select a table</option>
              {% for table_number in range(1, 33) %}
                <option value="{{ table_number }}">{{ table_number }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Confirm</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
